<div class="product__atc {% if block.settings.noMargin or noMargin %}margin__bottom--reduced{%endif-%}" {{ block.shopify_attributes }}>
  {% if product.available %}
    <input
      style="display: none;"
      name="id"
      data-bstr-variant-input="{{product.id}}"
      value="{{product.selected_or_first_available_variant.id}}">
    {% render 'add-to-cart-button'
      , type: 'secondary'
      , price: product.price %}
  {% else %}
    {% render 'sold-out-button'
      , disabled: 'disabled' %}
  {% endif %}
</div>