<div
  id="for-partners-popup"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden"
>
  <div class="bg-white p-8 z-50 w-full max-w-lg mx-5 rounded">
    <header class="flex items-center justify-between mb-6">
      <h5 class="font-bold text-xl">Quick Order</h5>
      <button id="closePopupButton" class="w-6 h-6">
        {% render 'icon-close' %}
      </button>
    </header>
    {% form 'contact', class: "space-y-4" %}
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
        <input type="text" id="name" name="contact[name]" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
      </div>

      <div>
        <label for="phone" class="block text-sm font-medium text-gray-700">Phone number</label>
        <input type="tel" id="phone" name="contact[phone]" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
      </div>

      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input type="email" id="email" name="contact[email]" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm">
      </div>

      <div>
        <label for="message" class="block text-sm font-medium text-gray-700">Text field</label>
        <textarea id="message" name="contact[message]" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm"></textarea>
      </div>

      <div class="grid grid-cols-2 gap-2 mt-6">
        <button
          id="cancelButton"
          type="button"
          class="py-2 px-4 border border-gray-300 rounded shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50"
        >
          CANCEL
        </button>
        <button
          id="sendButtonInForPartnersPopup"
          type="submit"
          class="py-2 px-4 bg-gray-800 text-white rounded shadow-sm text-sm font-medium hover:bg-gray-900"
        >
          SEND
        </button>
      </div>
    {% endform %}
  </div>
</div>