<section class="container mx-auto">
  <div class="flex flex-col lg:flex-row relative min-h-[40vw] gap-[1px]">
    <div class="bg-grigio-100 flex-auto bg-opacity-80 hover:bg-opacity-0 w-full flex items-center justify-center  transition ease-in-out  px-[5%] py-8">
      <h4 class="text-center text-white">
        {{ section.settings.advantage_1 }}
      </h4>
    </div>
    <div class="bg-grigio-100 flex-auto bg-opacity-80 hover:bg-opacity-0 w-full flex items-center justify-center  transition ease-in-out  px-[5%] py-8">
      <h4 class="text-center text-white">
        {{ section.settings.advantage_2 }}
      </h4>
    </div>
    <div class="bg-grigio-100 flex-auto bg-opacity-80 hover:bg-opacity-0 w-full flex items-center justify-center  transition ease-in-out  px-[5%] py-8">
      <h4 class="text-center text-white">
        {{ section.settings.advantage_3 }}
      </h4>
    </div>
    <div class="w-full h-full object-cover absolute top-0 left-0 -z-10 bg-no-repeat bg-bottom bg-cover" style='background-image: url("{{section.settings.image | image_url: width: 1200}}")'></div>
  </div>
</section>

{% schema %}
  {
    "name": "advantages",
    "settings": [
      {
        "type": "text",
        "id": "advantage_1",
        "label": "Advantage 1",
        "default": "Advantage 1"
      },
      {
        "type": "text",
        "id": "advantage_2",
        "label": "Advantage 2",
        "default": "Advantage 2"
      },
      {
        "type": "text",
        "id": "advantage_3",
        "label": "Advantage 3",
        "default": "Advantage 3"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20
      }
    ],
    "presets": [
      {
        "name": "Advantages"
      }
    ]
  }
{% endschema %}