<div class="flex md:flex-row flex-col gap-8 container">
  <img
    src="{{ section.settings.imageBefore| img_url: 'original'}}"
    alt="image before"
    class="imageBefore md:w-1/2 h-auto w-full">
  <img
    src="{{ section.settings.imageAfter| img_url: 'original'}}"
    alt="image after"
    class="imageAfter md:w-1/2 h-auto w-1/2">
</div>


{% schema %}
  {
    "name": "image-custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "imageBefore",
        "label": "Background image1"
      }, {
        "type": "image_picker",
        "id": "imageAfter",
        "label": "Background image2"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20
      }
    ],
    "presets": [
      {
        "name": "Images Custom"
      }
    ]
  }
{% endschema %}