<h5 class="mb-5 uppercase">
    For your car
</h5>

<div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-7 gap-2">
  {% for collection in collections %}
    <a
      href="{{ collection.url }}"
      class="bg-grigio-100 flex items-center justify-center p-3 lg:p-6 hover:bg-yellow transition duration-300 ease-in-out"
    >
      <img src="{{ collection.image | img_url: 'medium' }}" alt="{{ collection.title }}">
    </a>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product Filter Custom",
  "settings": [],
  "class": "container mx-auto",
  "presets": [
    {
      "name": "Product Filter Custom"
    }
  ]
}
{% endschema %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const currentUrl = window.location.href;
    const links = document.querySelectorAll('.grid a');

    links.forEach((link) => {
      if (link.href === currentUrl) {
        link.classList.add('bg-yellow');
      }
    });
  });
</script>
