<section class="container mx-auto ">
  <h5 class="section-header mb-12">
    {{ section.settings.title }}
  </h5>
  <div class="productsContainer grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3">
    {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product] %}
      {% render 'product-item', product: product %}
      {% if  forloop.index % 3 == 0 %}
        <div class="col-span-3"><hr class="separator"></div>
      {% endif %}
    {% endfor %}
  </div>
  <a
    href="/collections/all"
    class="buttonWithLine block w-fit mx-auto relative py-2 px-3 border border-grigio-40 uppercase font-extrabold"
  >
    Show all
  </a>
</section>

{% schema %}
{
  "name": "Recommended product",
  "max_blocks": 6,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Products"
    }
  ],
  "presets": [
    {
      "name": "Recommended product"
    }
  ],

  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product item"
        }
      ]
    }
  ]
}
{% endschema %}

